[submodule "3dgrut"]
	path = 3dgrut
	url = https://github.com/DexterZzz1010/3dgrut.git
[submodule "neurad-studio"]
	path = neurad-studio
	url = https://github.com/DexterZzz1010/neurad-studio.git
[submodule "splatad"]
	path = splatad
	url = https://github.com/DexterZzz1010/splatad.git
[submodule "gsplat_original"]
	path = gsplat_original
	url = ./gsplat_original
